In [ ]:
# Mount Google Drive to access files stored in your Drive from the Colab environment
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Import SparkSession to create and manage a Spark application
from pyspark.sql import SparkSession
# Import functions for column operations, average, and count from PySpark
from pyspark.sql.functions import col, avg, count

In [ ]:
# Create or retrieve a SparkSession named "Scalable Data Analysis"
spark = SparkSession.builder \
    .appName("Scalable Data Analysis") \
    .getOrCreate()

In [ ]:
# Read a CSV file from Google Drive into a Spark DataFrame,
# with the first row as header and automatically inferring data types
df = spark.read.csv("/content/drive/MyDrive/Financial Sample.csv", header=True, inferSchema=True)

# Print the schema of the DataFrame to see column names and data types
df.printSchema()

root
 |-- Segment: string (nullable = true)
 |-- Country: string (nullable = true)
 |--  Product : string (nullable = true)
 |--  Discount Band : string (nullable = true)
 |-- Units Sold: double (nullable = true)
 |--  Manufacturing Price : string (nullable = true)
 |--  Sale Price : string (nullable = true)
 |--  Gross Sales : string (nullable = true)
 |--  Discounts : string (nullable = true)
 |--   Sales : string (nullable = true)
 |--  COGS : string (nullable = true)
 |--  Profit : string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Month Number: integer (nullable = true)
 |--  Month Name : string (nullable = true)
 |-- Year: integer (nullable = true)

In [ ]:
 #Count and print the total number of rows in the Spark DataFrame
print("Total Rows:", df.count())

Total Rows: 700

In [ ]:
# Display the first 5 rows of the DataFrame in a tabular format
df.show(5)

+----------+-------+-----------+---------------+----------+---------------------+------------+-------------+-----------+------------+------------+------------+----------+------------+------------+----+
|   Segment|Country|   Product | Discount Band |Units Sold| Manufacturing Price | Sale Price | Gross Sales | Discounts |      Sales |       COGS |     Profit |      Date|Month Number| Month Name |Year|
+----------+-------+-----------+---------------+----------+---------------------+------------+-------------+-----------+------------+------------+------------+----------+------------+------------+----+
|Government| Canada| Carretera |          None |    1618.5|               $3.00 |     $20.00 |  $32,370.00 |      $-   | $32,370.00 | $16,185.00 | $16,185.00 |01-01-2014|           1|    January |2014|
|Government|Germany| Carretera |          None |    1321.0|               $3.00 |     $20.00 |  $26,420.00 |      $-   | $26,420.00 | $13,210.00 | $13,210.00 |01-01-2014|           1|    January |2014|
| Midmarket| France| Carretera |          None |    2178.0|               $3.00 |     $15.00 |  $32,670.00 |      $-   | $32,670.00 | $21,780.00 | $10,890.00 |01-06-2014|           6|       June |2014|
| Midmarket|Germany| Carretera |          None |     888.0|               $3.00 |     $15.00 |  $13,320.00 |      $-   | $13,320.00 |  $8,880.00 |  $4,440.00 |01-06-2014|           6|       June |2014|
| Midmarket| Mexico| Carretera |          None |    2470.0|               $3.00 |     $15.00 |  $37,050.00 |      $-   | $37,050.00 | $24,700.00 | $12,350.00 |01-06-2014|           6|       June |2014|
+----------+-------+-----------+---------------+----------+---------------------+------------+-------------+-----------+------------+------------+------------+----------+------------+------------+----+
only showing top 5 rows

In [ ]:
# Import SparkSession to create a Spark application
from pyspark.sql import SparkSession

# Import functions for regex replacement, column operations, and average calculation
from pyspark.sql.functions import regexp_replace, col, avg

# Initialize a SparkSession with the application name "Financial Analysis"
spark = SparkSession.builder.appName("Financial Analysis").getOrCreate()

In [ ]:
# Load the CSV file from Google Drive into a Spark DataFrame with header and schema inference enabled
df = spark.read.csv("/content/drive/MyDrive/Financial Sample.csv", header=True, inferSchema=True)

In [ ]:
# Create a new column "Profit_Clean" by removing dollar signs and commas from the " Profit " column,
# then convert the cleaned string values to double (numeric) type for analysis
df = df.withColumn("Profit_Clean", regexp_replace(col(" Profit "), "[$,]", "").cast("double"))

In [ ]:
# Group the DataFrame by "Country", calculate the average of the cleaned profit values,
# rename the aggregated column to "Average_Profit", sort the results in descending order,
# and display the top rows
df.groupBy("Country") \
  .agg(avg("Profit_Clean").alias("Average_Profit")) \
  .orderBy("Average_Profit", ascending=False) \
  .show()

df.groupBy("Country") \
  .agg(avg("Profit_Clean").alias("Average_Profit")) \
  .orderBy("Average_Profit", ascending=False) \
  .show()

+--------------------+------------------+
|             Country|    Average_Profit|
+--------------------+------------------+
|              France| 30761.84677165355|
|             Germany|29850.664609375006|
|              Canada|28413.212615384615|
|United States of ...| 25368.59666666666|
|              Mexico|24231.929444444446|
+--------------------+------------------+

+--------------------+------------------+
|             Country|    Average_Profit|
+--------------------+------------------+
|              France| 30761.84677165355|
|             Germany|29850.664609375006|
|              Canada|28413.212615384615|
|United States of ...| 25368.59666666666|
|              Mexico|24231.929444444446|
+--------------------+------------------+